{% if advertise_address is defined %}
KUBELET_EXTRA_ARGS="--node-ip {{ advertise_address }} --cluster-dns={{ local_dns_address }}"
{% else %}
KUBELET_EXTRA_ARGS="--cluster-dns={{ local_dns_address }}"
{% endif %}
