{
  "exec-opts": ["native.cgroupdriver=systemd"],
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "1024m"
  },
  "storage-driver": "overlay2",
  "live-restore": true ,
  "registry-mirrors": ["https://{{registry_repo}}"],
  "insecure-registries" : ["https://{{registry_repo}}"]
}
