apiVersion: kubeadm.k8s.io/v1beta2
bootstrapTokens:
- groups:
  - system:bootstrappers:kubeadm:default-node-token
  token: abcdef.0123456789abcdef
  ttl: 24h0m0s
  usages:
  - signing
  - authentication
kind: InitConfiguration
localAPIEndpoint:
{% if advertise_address is defined %}
  advertiseAddress: {{ advertise_address }}
{% else %}
  advertiseAddress: {{ ansible_host }}
{% endif %}
  bindPort: 6443
nodeRegistration:
  criSocket: /var/run/dockershim.sock
  name: {{ inventory_hostname }}
  taints: null
---
apiServer:
  timeoutForControlPlane: 4m0s
  extraArgs:
    authorization-mode: Node,RBAC
    enable-admission-plugins: NodeRestriction,PodNodeSelector,PodTolerationRestriction
apiVersion: kubeadm.k8s.io/v1beta2
certificatesDir: /etc/kubernetes/pki
clusterName: kubernetes
{% if api_server_domain is defined %}
controlPlaneEndpoint: {{api_server_domain}}:{{api_server_port}}
{% endif %}
controllerManager:
  extraArgs:
    bind-address: 0.0.0.0
dns:
  type: CoreDNS
{% if coredns_image_repo is defined %}
  imageRepository: {{coredns_image_repo}}
{% endif %}
{% if coredns_image_tag is defined %}
  imageTag: {{coredns_image_tag}}
{% endif %}
etcd:
  local:
    dataDir: /var/lib/etcd
    extraArgs:
      listen-metrics-urls: http://0.0.0.0:2381
      listen-peer-urls: https://0.0.0.0:2380
      listen-client-urls: https://0.0.0.0:2379
imageRepository: {{kubeadm_registry_repo}}/google_containers
kind: ClusterConfiguration
kubernetesVersion: {{k8s_version}}
networking:
  dnsDomain: cluster.local
  serviceSubnet: {{service_subnet}}
  podSubnet:  {{pod_subnet}}
scheduler:
  extraArgs:
    bind-address: 0.0.0.0
---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
metricsBindAddress: 0.0.0.0:10249
mode: ipvs
